<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMP Investment Policy Statement Generator</title>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Custom Managed Portfolios: Investment Policy Statement</h1>
        <nav>
            <ul>
                <li><a href="{% url 'questionnaire' %}"> | New Questionnaire | </a></li>
                <li><a href="{% url 'generate_ips_questionnaire_responses' %}" target="_blank" id="questionnaire-summary-link">| Last Completed Questionnaire Summary |</a></li>
                <li><a href="{% url 'register' %}">| Register |</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">| Logout |</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">| Login |</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% csrf_token %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Powered by PeekingLlama</p>
    </footer>
    
    <script>
        document.getElementById('questionnaire-summary-link').addEventListener('click', function(event) {
            event.preventDefault();
            window.open(this.href, '_blank');
        });
        
        // Function to get CSRF token for AJAX requests
        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }
    </script>
</body>
</html>
